include ../mixins/timestamp
include ../mixins/svg

block variables

doctype html
html(lang='ru')
	head
		meta(charset = 'utf-8')
		meta(name='viewport', content='initial-scale=1.0, width=device-width')
		meta(http-equiv='X-UA-Compatible', content='IE=Edge')
		meta(name="format-detection", content="telephone=no")
		title=pageTitle + ' | Название сайта'
		link(href='/icons/favicon.png' + timestamp, rel='shortcut icon', type='image/png')

		// library styles for every page
		link(href='/styles/vendors/normalize.css' + timestamp, rel='stylesheet')
		link(href='/styles/vendors/swiper-bundle.min.css' + timestamp, rel='stylesheet')
		link(href='/styles/vendors/modal-windows.css' + timestamp, rel='stylesheet')

		- if (styleVendors)
			// library styles for this page
			- for (var x = 0; x < styleVendors.length; x++)
				link(href=styleVendors[x] + timestamp, rel='stylesheet')

		// styles for every page
		link(href='/styles/general.css' + timestamp, rel='stylesheet')

		- if (styles)
			// styles for this page
			- for (var x = 0; x < styles.length; x++)
				link(href=styles[x] + timestamp, rel='stylesheet')

	body.page(class=pageClass)
		block content

		// library scripts for every page
		script(src='/scripts/vendors/focus-visible.min.js' + timestamp, defer)
		script(src='/scripts/vendors/imask.min.js' + timestamp, defer)
		script(src='/scripts/vendors/swiper-bundle.min.js' + timestamp, defer)
		script(src='/scripts/vendors/modal-windows.min.js' + timestamp, defer)

		- if (scriptVendors)
			// library scripts for this page
			- for (var x = 0; x < scriptVendors.length; x++)
				script(src=scriptVendors[x] + timestamp, defer)

		// scripts for every page
		script(src='/scripts/general.min.js' + timestamp, defer)
		script(src='/scripts/forms.min.js' + timestamp, defer)

		- if (scripts)
			// scripts for this page
			- for (var x = 0; x < scripts.length; x++)
				script(src=scripts[x] + timestamp, defer)