include ../mixins/timestamp

block variables

doctype html
html(lang='ru')
	head
		meta(charset = 'utf-8')
		meta(name='viewport', content='initial-scale=1.0, width=device-width')
		meta(http-equiv='X-UA-Compatible', content='IE=Edge')
		title=pageTitle + ' | Название сайта'
		link(href='/static/icons/favicon.png' + timestamp, rel='shortcut icon', type='image/png')
		link(href='/styles/vendors/normalize.css' + timestamp, rel='stylesheet')
		link(href='/styles/general.css' + timestamp, rel='stylesheet')
		- if (styles)
			- for (var x = 0; x < styles.length; x++)
				link(href=styles[x] + timestamp, rel='stylesheet')

	body.page(class=pageClass)
		block content
		.js-forms

		script(src='/scripts/vendors/jquery.min.js' + timestamp, defer)
		script(src='/scripts/vendors/imask.min.js' + timestamp, defer)
		script(src='/scripts/general.js' + timestamp, defer)
		script(src='/scripts/forms.js' + timestamp, defer)
		- if (scripts)
			- for (var x = 0; x < scripts.length; x++)
				script(src=scripts[x] + timestamp, defer)